.menu {
  width: 100%;
}

.slides {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.menu {
  font-size: 2.1em;
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  font-family: "Computer Modern Sans", sans-serif;
  justify-content: center;
  align-content: start;
}

