.nav {
  position: static;
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border: 1px solid blueviolet;
  margin-bottom: .5em;
}

.nav a {
  color: blueviolet;
  display: block;
  font-size: 1.1em;
  text-align: center;
  padding: .7em;

}

.menu-toggle {
  display: block;
  font-size: 1.2em;
  height: 2em;
  padding: .4em;
  color: blueviolet;
  background-color: white;
  width: 100%;
  border: 0px;
  text-align: center;
}

ul.open {
  margin-top: 0px;
  padding-top: 2em;
  position: absolute;
  width: 80%;
  background-color: white;
  border: 1px solid blueviolet;
}

ul.closed {
  display: none;
}

.nav .logout {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: blueviolet;
  font-size: 1.2em;
  border: 1px solid white;
}

.nav .logout:hover {
  background-color: red;
  color: white;
}
.nav a:hover {
  color: white;
  background-color: blueviolet;
}


@media only screen and (min-width: 800px){

  .nav {
    width: 220px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(+20%,+20%);
  }

  ul.open {
    width: 100%;
  }

}