form {
  display: table;
  margin: 2em auto;
  border: black 5px;
}

form input {
  display: block;
  margin-bottom: 2em;
}

form button {
  font-size: 1em;
  background-color: rgb(224, 71, 71);
  color: white;
  border: 0px;
  width: 100%;
  margin-top: .2em;
  height: 3em;
}


.error {
  color: red;
  font-size: .9em;
  display: block;
  text-align: center;
}

.form-error {
  color: red;
  font-size: .9em;
  display: block;
  text-align: center;
  margin-bottom: 1em;
}

.input label {
  display: block;
}

.input .field {
  margin-top: .2em;
  margin-bottom: 1.5em;
  width: 20em;
  text-align: center;
  height: 3em;
}


h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: .5em;
}

.checkbox {
  text-align: left;
  background-color: white;
}