header h1 {
  font-size: 3.5em;
  display: inline-block;
  color: blueviolet;
  font-weight: bold;
  font-family: "Computer Modern Sans", sans-serif;
}

header {
  width: 100%;
  text-align: center;
  padding: 0px;
  background-color:white;
  margin-top: .7em;
  margin-bottom: 3em;
}

header button { 
  display: block;
  border: 0px;
  font-size: 1em;
  background-color: red; 
  color: white;
  height: 2em;
  width: 10em;
}

