ul {
  display: grid;
  justify-items: center;
  font-size: .8em;
  display: table;
  width: 100%;
  padding: 0%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

ul li {
  width: 100%;
  padding: 1em;
  margin: 0px auto;
  display: table;
  text-align: left;
  display: inline-block;
}

ul li p, ul li h3 {
  margin: .5em;
}
ul li:hover {
  background-color: rgba(151,187,205,0.5);
}

button.add {
  border: 0px;
  background-color: red;
  color: white;
  float: right;
  height: 3em;
}

.item {
  border: 1px dotted rgba(151,187,205,0.5);
}

.list select{
  height: 3em;
  width: 95%;
  display: block;
  margin-bottom: 1.2em;
  margin: 1.2em auto;
  text-align-last: center;
}


.list label {
  margin-bottom: 20em;
}

#checkbox {
  margin-left: 1.5em;
  transform: scale(2);
}

@media only screen and (min-width: 640px){

  ul li {
    width: 33.333333%;
  }

  .list #sort {
    width: 25%;
    margin-right: .5em;
    display: inline-block;
  }

  #direction {
    width: 12%;
    display: inline-block;
  }

  .dropdown {
    display: block;
  }
}


@media (max-width: 640px){
  .list { 
    text-align: center;
  }

  .list label {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}