.popup {
  position: fixed;
  background-color: white;
  border: 1px solid blueviolet;
  width: 95%;
  padding: 1.5em;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.popup p {
  margin-bottom: .5em;
}

.popup h2, .popup p {
  text-align: left;
  font-size: .80em;
}

.popup li {
  width: 100%;
  margin-left: 0px;
  margin-bottom: 1em;
  padding: 0px;
}

.popup .close {
  margin-left: 0px;
  float: left;
}

.popup li p {
  padding: 0px;
  margin-left: 0px;
}


.popup b {
  font-weight: 600;
}

.popup button {
  background-color: rgb(153, 4, 4);
  color: white;
  width: 6em;
  height: 2.5em;
  border: 0px;
}

.popup .close {
  background-color: blueviolet;
}

.popup .delete {
  float: right;
}

@media only screen and (min-width: 640px){

  .popup {
    padding: 3em;
  }
  .popup h2 {
    font-size: 1.2em;
  }

  .popup p {
    font-size: 1em;
  }

  .popup {
    width: 450px;
  }
 }