form {
  display: table;
  margin: 2em auto;
  border: black 5px;
}

form input {
  display: block;
  margin-bottom: 2em;
  margin-left: 0px;
  margin-right: 0px;
}

form button {
  font-size: 1em;
  background-color: rgb(224, 71, 71);
  color: white;
  border: 0px;
  width: 100%;
  margin-top: .2em;
  height: 3em;
}

.form-link {
  display: block;
  text-align: center;
  margin-top: 1em;
}

.error, .form-error {
  color: white;
  background-color: red;
  font-size: .9em;
  display: block;
  padding: .4em;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: .3em;
  text-align: center;
}

.form-error {
  font-size: 1em;
  margin-bottom: 1em;
}

.form-success {
  color: white;
  background-color: blueviolet;
  padding: .4em;
  font-size: 1em;
  display: block;
  text-align: center;
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 1em;
}

.input label {
  display: block;
}

.input .field {
  margin-top: .2em;
  margin-bottom: 1.5em;
  width: 20em;
  text-align: center;
  height: 3em;
}


h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: .5em;
}

.checkbox {
  text-align: left;
  background-color: white;
}